* {
    font-family: Comic Sans MS;
}

a {
    color: blue;
}

.heading {
    padding: 0 15px;
}

form {
    padding: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group > label {
    display: block;
}

table.workers {
    margin: 0 15px;
    border-spacing: 0;
}

table.workers > tbody > tr:nth-child(odd) {
    background-color: lightgray;
}

table.workers > thead > tr > th,
table.workers > tbody > tr > td {
    padding: 15px;
}